/* !CONTENEDOR PRINCIPAL (el que encierra todo) */
.content {
  /* padding: 10% 5%; */
  position: relative;
  opacity: 1;
  padding-bottom: 0;
  width: 100%;
  font-size: 0.8rem;
  background: var(--main-color);
  display: block;
}
/* !LOGO */
.logo {
  position: fixed;
  top: 1em;
  left: 1.5em;
  width: 5%;
  z-index: 3;
  opacity: 0;
}
.logo img {
  width: 100%;
}
/* *                                                   ESTO SON LOS SVG DE LEO MAZUCA PEREZ Y WEB DEVELOPER */
.letra {
  font-size: 99px;
  filter: drop-shadow(10px 3px 2px rgba(0, 0, 0, 0.7));
  fill: transparent;
  stroke: var(--tertiary-color);
  stroke-width: 2px;
  stroke-dasharray: 425px;
  stroke-dashoffset: 425px;
  animation: animar 3s linear forwards 1s;
}
.letra2 {
  fill: var(--main-color);
  filter: drop-shadow(10px 3px 2px rgba(0, 0, 0, 0.7));
  /* stroke: #21094e;
  stroke-width: 2px; */
  transition: all 2s;
}
.sombra {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
.arrow {
  animation: arrow 2s ease-in-out infinite;
}
/* !Esta clase es para poner el fondo blanco a las letras BDOR en WEB DEVELOPER */
.red {
  fill: var(--tertiary-color);
  stroke: var(--tertiary-color);
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7));
}
.triangulo {
  width: 0;
  height: 0;
  border-right: 50vw solid transparent;
  border-top: 100px solid #fff;
  border-left: 50vw solid transparent;
  border-bottom: 100px solid transparent;
  z-index: 1;
  position: absolute;
}

/**                                      SOLO ES LA PARTE EN DONDE VA EL ABOUT ME (LA IMAGEN Y EL TEXTO)  */
.about {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10em), 1fr));
  align-items: center;
}
.first_part_about {
  grid-column: span 2;
}
.foto {
  display: grid;
  width: 50%;
  border-radius: 100%;
  background-color: var(--main-color);
  border: 3px solid var(--main-color);
  color: var(--secondary-color);
  box-shadow: 0 -4px 7px rgb(255 255 255 / 5%),
    inset 0 -4px 7px rgb(255 255 255 / 5%), 0 4px 7px rgb(0 0 0 / 30%),
    inset 0 4px 7px rgb(0 0 0 / 30%);
  padding: 1%;
}
.foto img {
  width: 100%;
  border-radius: 100%;
}
.texto {
  grid-column: span 3;
}
/* !ABOUT ME text */
.about h2 {
  letter-spacing: 0.4em;
  font-size: 2em;
  color: var(--main-color);
  z-index: 2;
}
/* !Esto es el fondo del texto ABOUT ME*/
.about span {
  z-index: 3;
  padding: 0 0 0 15px;
  position: relative;
  background-color: var(--main-color);
  border: 3px solid var(--main-color);
  color: var(--secondary-color);
  box-shadow: 0 -4px 7px rgb(255 255 255 / 5%),
    inset 0 -4px 7px rgb(255 255 255 / 5%), 0 4px 7px rgb(0 0 0 / 30%),
    inset 0 4px 7px rgb(0 0 0 / 30%);
  border-right: none;
}
/* !Esto es la linea del fondo del texto ABOUT ME */
.about h2::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 100%;
  background: var(--main-color);
  position: relative;
  top: -45px;
  z-index: 1;
  box-shadow: 0 -3px 5px rgb(255 255 255 / 10%), 0 5px 5px rgb(0 0 0 / 50%);
}
/* !La descripcion del about me */
.texto p {
  width: 85%;
  margin: auto;
  font-size: 1.2rem;
  color: var(--secondary-color);
  text-align: justify;
}
/* *                                                                                       TECHNOLOGIES */
.technologies {
  width: 40%;
  margin: auto;
  padding: 1em;
  margin-top: 5%;
  position: relative;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 4rem), 1fr));
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--secondary-color);
  box-shadow: 0 -4px 7px rgb(255 255 255 / 5%),
    inset 0 -4px 7px rgb(255 255 255 / 5%), 0 4px 7px rgb(0 0 0 / 30%),
    inset 0 4px 7px rgb(0 0 0 / 30%);
}
.technologies div {
  /* color: var(--main-color); */
  display: grid;
  justify-content: center;
  align-items: end;
  justify-items: center;
}
.technologies div:hover {
  cursor: pointer;
}
.technologies div:hover svg {
  filter: brightness(0.7);
  transform: scale(1.2);
}
.technologies img {
  width: 50%;
}
.tech_icons {
  width: 50%;
  fill: var(--secondary-color);
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, 0.5));
}
.technologies a {
  text-decoration: none;
  color: var(--main-color);
}
.tech {
  padding: 0 5%;
  margin-top: 10%;
  width: 100%;
  transition: all 0.5s;
}
/* *                                                                                        PROYECTOS */
/*! La clase .subtitulo se refiere al PROJECTS que se esta escribiendo y borrando */
.subtitulo {
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 0%;
  letter-spacing: 0.4em;
  font-size: 2em;
  z-index: 2;
}
.subtitulo span {
  z-index: 3;
  padding: 0 0 0 15px;
  position: relative;
  background-color: var(--main-color);
  border: 3px solid var(--main-color);
  color: var(--secondary-color);
  box-shadow: 0 -4px 7px rgb(255 255 255 / 5%),
    inset 0 -4px 7px rgb(255 255 255 / 5%), 0 4px 7px rgb(0 0 0 / 30%),
    inset 0 4px 7px rgb(0 0 0 / 30%);
  border-right: none;
}
.subtitulo::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 100%;
  background: var(--main-color);
  position: relative;
  top: -49px;
  z-index: 1;
  box-shadow: 0 -3px 5px rgb(255 255 255 / 10%), 0 5px 5px rgb(0 0 0 / 50%);
}
.carousel_nav {
  display: none;
}
.project_indicator {
  display: none;
}
/* !Esto encierra todos los proyectos */
.project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* background-color: red; */
}
.project {
  width: 100%;
  padding: 5% 15%;
  margin: auto;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  /* background-color: red; */
}
.project:nth-child(even) {
  background-color: var(--secondary-color);
}
/*! Esto es la parte del nombre del proyecto */
.project_tittle {
  display: grid;
  grid-auto-flow: column;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  color: var(--tertiary-color);
  letter-spacing: 1rem;
}
.project_name {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.project_name h3::after {
  content: "";
  display: inline-block;
  height: 100px;
  width: 3px;
  background: var(--secondary-color);
  position: relative;
  top: 0px;
  z-index: 1;
}
.project:nth-child(even) .project_name h3::after {
  background: var(--main-color);
}
.project_name > h3 > span {
  color: var(--secondary-color);
  font-size: 2.5rem;
  padding: 0;
  margin-bottom: 0rem;
  letter-spacing: 0rem;
  font-family: "Ranade";
}
.project:nth-child(even) span {
  color: var(--main-color);
}
.project_number {
  color: var(--tertiary-color);
  font-size: 8rem;
  transform: rotate(-90deg);
  margin-right: 1rem;
  font-family: Ranade, sans-serif;
  letter-spacing: 0.3rem;
  -webkit-text-stroke: medium;
}
.project:nth-child(even) .project_number {
  color: var(--tertiary-color);
}
/* !ESTA ES LA PARTE DE LA IMAGEN DE LOS PROYECTOS */
.project_img {
  width: 100%;
}
.project_img img {
  width: 100%;
}
/* !ESTO ES LA PARTE DE LA DESCRIPCION DE LOS PROYECTOS */
.info_number {
  display: none;
}
.linea {
  display: none;
}
.info {
  width: 50%;
}
.info p {
  color: var(--tertiary-color);
  font-weight: 100;
  background-color: reds;
  text-align: justify;
}
.icons {
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto 1fr;
  padding: 5px 5%;
  font-size: 2.5em;
}
.fab {
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0 0, 0.5));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
.fa-html5 {
  color: var(--html-color);
}
.fa-css3-alt {
  color: var(--css-color);
}
.fa-js {
  color: var(--js-color);
}
.fa-bootstrap {
  color: #563d7c;
}
.progress-bar {
  width: 90%;
  background: lightgray;
  border-radius: 15px;
  margin: auto;
  padding: 2px;
}
.progress {
  height: 16px;
  border-radius: 20px;
  border: none;
  min-width: fit-content;
  padding: 0 5px;
  display: grid;
}

.progress span {
  color: var(--secondary-color);
  font-size: 0.8rem;
  display: block;
  position: relative;
  font-weight: 900;
  margin: auto;
}
.icons:nth-child(even) .progress span {
  color: var(--main-color);
}

/** Esto hace que en la barra de progreso aparesca un circulo */
/* .progress::after {
  content: "";
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
  float: right;
  top: 50%;
  transform: translate(50%, -75%);
  border: 2px solid var(--tertiary-color);
} */
/* !Esto es el boton de la descripcion de los proyectos */
.button {
  position: relative;
  width: 90%;
  height: 2.5em;
  background-color: var(--main-color);
  margin: 2rem auto;
  margin-bottom: 0;
  border-radius: 0.9em;
  display: flex;
  padding: 0.35em;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1.6em -0.1em var(--secondary-color);
  font-family: "Amulya", sans-serif;
  font-weight: 100;
  color: var(--secondary-color);
}
.button .icon {
  position: absolute;
  right: 0.25em;
  background-color: var(--secondary-color);
  fill: var(--main-color);
  width: 2.2em;
  height: 2.2em;
  border-radius: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}
