:root{
    --main-color: #185ADB;
    --secondary-color: #0A1931;
    --tertiary-color: #E8F6EF;
    --html-color: #ff5722;
    --css-color: #2196f3;
    --js-color: #f7df1e;
    --boot-color: #563d7c;
}
.content{
    padding: 20% 0%;
    position: relative;
    opacity: 1;
    padding-bottom: 0;
    width: 100%;
    font-size: 16px;
    background: var(--main-color);
    display: block;
}
/* *************************************ABOUT  */
.about div{
    display: block;
    position: relative;
}
.about{
    width: 80%;
    margin: auto;
    /* height: 50vh; */
    display: grid;
    /* grid-auto-rows: auto; */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 10em), 1fr));
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 10px;/*El espacio entre divs*/
    grid-auto-flow: dense;/* Esto es para que rellene si quedan espacios vacios */
    align-items: center;
}
.foto img{
    width: 80%;
    border-radius: 100%;
    border: 3px solid var(--secondary-color);
    
}
.texto{
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}
.texto h2{
    letter-spacing: .4em;
    font-size: 2em;
    color: var(--main-color);
    z-index: 2;
}
.texto span{
    background: var(--secondary-color);
    z-index: 3;
    padding: 0 15px;
    position: relative;
}
.texto h2::after{
    content: "";
    display: inline-block;
    height: 3px;
    width: 100%;
    background: var(--secondary-color);
    position: relative;
    top: -49px;
    z-index: 1;
}
.texto p{
    font-size: 1.2rem;
    color: var(--secondary-color);
}
/* *****************************************************TECHNOLOGIES */
.technologies{
    width: 60%;
    margin: auto;
    margin-top: 10%;
    padding: 1em;
    /* position: relative; */
    background-color: var(--secondary-color);
    border-radius: 30px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 6rem), 1fr));
}
.technologies div{
    /* background: var(--main-color); */
    color: var(--main-color);
    padding: 5%;
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.technologies img{
    width: 50%;
}
.technologies a {
    text-decoration: none;
    color: var(--main-color);
}
.tech{
    padding: 0 5%;
    margin-top: 10%;
    width: 100%;
    transition: all .5s;
}
.technologies div:hover .tech{
    background: var(--main-color);
    color: var(--secondary-color);
}
/* ***************************************************PROYECTOS */
.subtitulo{
    width: 80%;
    margin: auto;
    margin-top: 10%;
    letter-spacing: .4em;
    font-size: 2em;
    color: var(--main-color);
    z-index: 2;
}
.subtitulo span{
    background: var(--secondary-color);
    z-index: 3;
    padding: 0 15px;
    position: relative;
}
.subtitulo::after{
    content: "";
    display: inline-block;
    height: 3px;
    width: 90%;
    background: var(--secondary-color);
    position: relative;
    top: -49px;
    z-index: 1;
}
.project-container{
    /* width: 80%;
    border-radius: 30px; */
    width: 100%;
    border-radius: 0;
    margin: auto;
    padding: 5%;
    padding-top: 15%;
    background: var(--secondary-color);
    /* display: grid;
    grid-gap: 20px; */
    /* grid-template-columns: repeat(auto-fit, minmax(min(100%, 35em), 1fr)); */
    
}
.project{
    margin-bottom: 10%;
    /* border-radius: 30px; */
    /* padding: 1em; */
    transition: all 1.5s;
    /* display: flex;
    flex-direction: column;
     */
    display: grid;    
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    "imagen     titulo"
                            "imagen     info";
    align-items: center;
}
.project-2{
    margin-bottom: 10%;
    transition: all 1.5s;
    display: grid;    
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    "titulo     imagen"
                            "info       imagen";
    align-items: center;
}
.imagen{
    grid-area: imagen;
}
.titulo{
    grid-area: titulo;
    padding: 0 5%;
}
.info{
    grid-area: info;
    padding: 0 5%;
}
.project-container h2{
    letter-spacing: .4em;
    font-size: 1.5em;
    margin-top: .5em;
    color: var(--main-color);
    z-index: 2;
}
.project-container h2 span{
    background: var(--main-color);
    color: var(--secondary-color);
    z-index: 3;
    padding: 0 15px;
    position: relative;
}
.project-container h2::after{
    content: "";
    display: inline-block;
    height: 3px;
    width: 100%;
    background: var(--main-color);
    position: relative;
    top: -35px;
    z-index: 1;
}
.project-container p{
    padding: 0  1.5em 1.5em;
    color: var(--main-color);
    text-align: justify;
}
.icons{
    width: 100%;
    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: auto 1fr;
    padding: 5px 5%;
    font-size: 3em;
    background: var(--main-color);
}
.fa-html5{
    color: #ff5722;
    -webkit-filter: drop-shadow(2px 2px 0 var(--secondary-color));
    filter: drop-shadow(2px 2px 0 var(--secondary-color));
}
.fa-css3-alt{
    color: #2196f3;
    -webkit-filter: drop-shadow(2px 2px 0 var(--secondary-color));
    filter: drop-shadow(2px 2px 0 var(--secondary-color));
}
.fa-js{
    color: #f7df1e;
    -webkit-filter: drop-shadow(2px 2px 0 var(--secondary-color));
    filter: drop-shadow(2px 2px 0 var(--secondary-color));
}
.fa-bootstrap{
    color: #563d7c;
    -webkit-filter: drop-shadow(2px 2px 0 var(--secondary-color));
    filter: drop-shadow(2px 2px 0 var(--secondary-color));
}
.progress-bar{
    width: 90%;
    height: 15px;
    background: var(--secondary-color);
    margin-left: 30px;
    border-radius: 15px;
    margin: auto 10%;
    border: 2px solid var(--secondary-color);
}
.progress{
    height: 11px;
    border-radius: 15px;
    border: none;
    min-width: fit-content;
    padding: 0 3px;
}
.progress span{
    color: var(--secondary-color);
    font-size: 11px;
    display: block;
    position: relative;
    letter-spacing: 2px;
    font-weight: bolder;
    top: -1px;
}
/* .progress::after{
    content: '';
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    float: right;
    top: 50%;
    transform: translate(50%, -75%);
    border: 2px solid var(--tertiary-color);
} */
.weather-app-p-html{
    background: var(--html-color);
    width: 8.2%;
}
.weather-app-p-css{
    background: var(--css-color);
    width: 56.6%;
}
.weather-app-p-js{
    background: var(--js-color);
    width: 35.2%;
}
.weather-app-p-bootstrap{
    background: var(--js-color);
    width: 35.2%;
}
.zapateria-app-p-html{
    background: var(--html-color);
    width: 90.4%;
}
.zapateria-app-p-css{
    background: var(--css-color);
    width: 4.2%;
}
.zapateria-app-p-js{
    background: var(--js-color);
    width: 3.4%;
}
.zapateria-app-p-boot{
    background: var(--boot-color);
    width: 2.0%;
}
.Digital-app-p-html{
    background: var(--html-color);
    width: 61.0%;
}
.Digital-app-p-css{
    background: var(--css-color);
    width: 39.0%;
}
.Scroll-app-p-html{
    background: var(--html-color);
    width: 28.7%;
}
.Scroll-app-p-css{
    background: var(--css-color);
    width: 31.0%;
}
.Scroll-app-p-js{
    background: var(--js-color);
    width: 40.3%;
}
.hoteles-app-p-html{
    background: var(--html-color);
    width: 9.3%;
}
.hoteles-app-p-css{
    background: var(--css-color);
    width: 27.0%;
}
.hoteles-app-p-js{
    background: var(--js-color);
    width: 63.7%;
}

.project img{
    width: 100%;
}
.project-2 img{
    width: 100%;
}
.icons img{
    width: 50%;
    border-radius: 0px;
}
/********************************************************** Medias Queries */

/* @media (max-width: 624px){ */
    @media (max-width: 770px){
    .project{
        grid-template-columns: 1fr;
    grid-template-areas:    "titulo"
                            "imagen"
                            "info";
    }
    .project-2{
        grid-template-columns: 1fr;
    grid-template-areas:    "titulo"
                            "imagen"
                            "info";
    }
    .info{
        padding: 0;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about img{
        width: 50%;
    }
    .triangulo{
         border-top: 50px solid var(--tertiary-color);
    }
    .triangulo-2{
        border-top: 50px solid var(--main-color);
   }
    .icons{
        width: 100%;
    }
    .menuToggle{
        margin: 1em 0;
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .logo{
        position: fixed;
        top: 0;
        left: 0;
        width: 10%;
        z-index: 3;
        opacity: 0;
    }
    .logo img{
        width: 100%;
    }
    .menu{
        height: calc(100vh + 1.5em);
        width: 50vw;
    }
    .technologies{
        width: 80%;
    }
    .project-container{
        width: 100%;
        border-radius: 0px;
        padding: 5%;
        padding-top: 20%;
        margin-bottom: 0;
    }
    .project-container p{
        padding: 1.5em 0;
    }
    .content{
        padding-bottom: 0px;
    }
}
@media (max-width: 480px){
    .menu{
        width: calc(100vw + 1.5em);
    }
    .footer{
        padding:0.5em .5em;
        font-size: 1.7em;
    }
    .menuToggle{
        margin: 0;
        border-radius: 0;
        border-bottom-left-radius: 10px;
    }
}
