:root {
  --main-color: #0a1931;
  --secondary-color: #185adb;
  --tertiary-color: #e8f6ef;
  --html-color: #ff5722;
  --css-color: #2196f3;
  --js-color: #f7df1e;
  --boot-color: #563d7c;
  --boot-color: #aa0f0f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root::-webkit-scrollbar {
  display: none;
}
body,
html {
  width: 100%;
  font-family: "Amulya", sans-serif;
  font-weight: bolder;
  text-align: center;
}
div {
  position: absolutes;
}
