.hidden{
    opacity: 0;
}
.guion-bajo{
    width: 25px;
    font-weight: bolder;
    z-index: 3;
    display: inline-block;
    position: relative;
    left: -.9em;
    color: #185ADB;
    background: #0A1931;
    padding-left: 5px;
}
.guion-bajoDos{
    width: 25px;
    font-weight: bolder;
    z-index: 3;
    display: inline-block;
    position: relative;
    left: -.9em;
    color: #185ADB;
    background: #0A1931;
    padding-left: 5px;
}